@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: rgb(255, 255, 255);
    
}

.imagen-header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)) , url("../public/img/header.jpg");
}

.descripcion-guitarras, .descripcion-blog{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

